.p {
    background-color: darkgrey;
    width: 200px;
    height: 200px;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0px;
    padding: 10px;
}

.pp {
    border: 1px solid black;
    width: 200px;
    border-radius: 3px;
    padding: 10px;
}

.button {
    background-color: blue;
    color: white;
    border: 1px;
    border-radius: 3px;
    padding: 3px;
}

.class2 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 10px;
}

a {
    margin: 5px;
}

.bai3 .bai {
    border: 1px solid black;
    width: 200px;
    margin: 0px;
    border-radius: 2px;
    padding: 10px;
}