.h1 {
    height: 40px;
    width: 400px;
    background-color: gray;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.h2 {
    height: 40px;
    width: 400px;
    background-color: green;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.h3 {
    height: 40px;
    width: 400px;
    background-color: palevioletred;
    border-radius: 3px;
    display: flex;
    align-items: center;
}